.navbar {
    display: flex; 
    justify-content: space-evenly; 
    padding: 12px; 
}

.navbar__experiences a {
    margin-left: 20px; 
    text-decoration: none; 
    color: black; 
}

.navbar__logo {
    justify-content: flex-start; 
}